* {
  box-sizing: border-box;
}

/* font-family: 'Yeseva One', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif; */


body {
  color: #444;

  font-family: 'Merriweather', serif;
  line-height: 1.4;
  font-size: 16px;

}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Merriweather Sans', sans-serif;
  width:100%;
  padding: 1% 0;
  background-color:#EAEAEA;
  color:#788791;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

header {
  background-color:#b5adae;
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 3%;
  text-align: center;
}


section {
  background-color: #EAEAEA;
  padding: 6% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) {
  background-color: #788791;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Yeseva One', cursive;
}

h2 ,h3 {
  font-size: 1.3rem;
  font-family: 'Yeseva One', cursive;
}
.introStatementSub, .interests {
  font-family: 'Merriweather Sans', sans-serif;
}

.imgHolder{
width:80%;

}
.self-photo {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.interests {
  padding: 0;
  text-align: center;
  list-style: none;
  width: 90%;
}

p {
  width: 90%;
}

.contactInfo {
  width: 100%;
  list-style:none;
  padding: 0;
  text-align: center;
  display:flex;
  flex-direction:column;
}

.dashedLine {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  width: 80%;
  border-bottom: 3px dashed #969772;
}

.linksToProject {
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
}

.iconGroup {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
}

.iconGroup li {
  display:inline-block;
}


a:link, a:visited {
  color: #444;
}

a:hover {
  color: #969772;
}

a:active {
  color: #969772;
}

i {
  margin: 3px;
}

ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.contactIconLinks {
  font-size: 2rem;
}