* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
/* font-family: 'Yeseva One', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Merriweather', serif; */


body {
  color: #141719;
  font-family: 'Merriweather', serif;
  line-height: 1.4;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Merriweather Sans', sans-serif;
  width:100%;
  padding: 1% 0;
  background-color:#b59ea0;
  color:#141719;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.navBarList{
  display:flex;
  justify-content: center;
}
.hidden{
  display:none;
}
.navBarList li {
  margin-left: 3px;
  margin-right:3px;
}

header {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.3) 100%), url("./images/colorTiles.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6% 3%;
  text-align: center;
  color:#141719;
  min-height: 650px;
}


section {
  background-color: #EAEAEA;
  padding: 6% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-child(even) {
  background-color: #788791;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Yeseva One', cursive;
}

h2 ,h3 {
  font-size: 1.3rem;
  font-family: 'Yeseva One', cursive;
}
.introStatementSub, .interests {
  font-family: 'Merriweather Sans', sans-serif;
}


.imgHolder {
margin-top: 1%;
margin-bottom:1%;
width:80%;

}
.self-photo {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.interests {
  padding: 0;
  text-align: center;
  list-style: none;
  width: 90%;
}

p {
  width: 90%;
}

.floating {
  float: left;
}
.contactInfo {
  width: 100%;
  list-style:none;
  padding: 0;
  text-align: center;
  display:flex;
  flex-direction:column;
}

.dashedLine {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  width: 80%;
  border-bottom: 3px dashed #969772;
}

.linksToProject {
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
}

.iconGroup {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
}

.iconGroup li {
  display:inline-block;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #141719;
}

a:hover {
  color: #808261;
}

a:active {
  color: #969772;
}

i {
  margin: 3px;
}

ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.contactIconLinks {
  font-size: 2rem;
}


footer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  padding: 6%;;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.3) 100%), url("./images/colorTiles.png");
  background-position: center;
}

@media only screen and (min-width: 350px) {
  .imgHolder {
    width: 70%;
  }
  h1{
    font-size: 1.3rem;
  }

  h2, h3 {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 400px) {
  .imgHolder {
    width: 60%;
  }
}

@media only screen and (min-width: 500px) {
  .imgHolder {
    width: 49%;
  }
  .projects:hover {
    width: 60%;
  }
}

@media only screen and (min-width: 595px) {
  .imgHolder {
    width: 41%;
  }
}

@media only screen and (min-width: 700px) {
html {
  font-size: 18px;
}
header {
flex-direction: row;
justify-content: center;
}
.introStatements {
 width: 50%;
 text-align: center;
}
.quiz {
  width: 90%;
  margin: 10px;
}
  .imgHolder {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2%;
  }
  p, .interests {
    width: 70%;
  }
  .dashedLine {
    width: 60%;
  }
}

@media only screen and (min-width: 750px) {
  .imgHolder {
    width: 45%;
  }

@media only screen and (min-width: 800px) {
  .imgHolder {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {
  .imgHolder {
    width: 35%;
  }
  p, .interests {
    width: 60%;
  }
  .dashedLine {
    width: 50%;
  }
}


@media only screen and (min-width: 1000px) {
  .imgHolder {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .imgHolder {
    width: 25%;
  }
}